ServiceSample/WebContent/WEB-INF/services/DownChannelService/META-INF/Basic_profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.robotservices.org/schemas/V02/Basic_profile" xmlns:cp="http://www.robotservices.org/schemas/V02/Common_profile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.robotservices.org/schemas/V02/Basic_profile">
    <xs:import namespace="http://www.robotservices.org/schemas/V02/Common_profile" schemaLocation="Common_profile.xsd"/>
    <xs:element name="open">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cp:robo_header"/>
                <xs:choice>
                    <xs:element name="authentication">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="userid" type="xs:string"/>
                                <xs:element name="password" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="certification">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="cp:attached_file"/>
                                <xs:element maxOccurs="unbounded" name="digest_algorithm" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="challenge">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="encrypted_hash" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="close">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cp:robo_header"/>
                <xs:element name="conv_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
